@charset "UTF-8";
.balloonbox{
  position: relative;
  width: 500px;
  padding: 20px;
  font-size: 16px;
  line-height: 16px;
  background-color: #fad296;
  border: solid 5px #8f5a0a;
  border-radius: 30px;
  margin: 0 auto;
}



.balloonbox:before,.balloonbox:after {
  position: absolute;
  content: "";
  border: 20px solid transparent;
  left: 30px;
}

.balloonbox:before {
  border-top: 20px solid #8f5a0a;
  bottom: -45px;
}


.balloonbox:after {
  border-top: 20px solid #fad296;
  bottom: -38px;
}